[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data

# Environment variables
EnvironmentFile=/home/kshitij/fAIr/backend/.env

Environment=DEBUG=True
Environment=PROJ_LIB=/usr/local/envs/fair/share/proj
Environment=CONDA_PYTHON_EXE=/usr/local/bin/python
Environment=LD_LIBRARY_PATH=:/usr/local/lib/:/usr/local/envs/fair/lib/
Environment=LC_CTYPE=C.UTF-8
Environment=CONDA_DEFAULT_ENV=fair
Environment=GDAL_DATA=/usr/local/envs/fair/share/gdal


# Working directory
WorkingDirectory=/home/kshitij/fAIr/backend

# Gunicorn startup
ExecStart=/usr/local/envs/fair/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          fairproject.wsgi:application --timeout 180 --log-level debug

[Install]
WantedBy=multi-user.target
