[Unit]
Description=fAIr Application Stack
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/fAIr-app
EnvironmentFile=/opt/fAIr-app/.env.production
User=root
Group=root
ExecStart=/usr/bin/docker compose -f /opt/fAIr-app/docker-compose.prod.yml --env-file /opt/fAIr-app/.env.production --profile gpu up --build -d
ExecStop=/usr/bin/docker  compose -f /opt/fAIr-app/docker-compose.prod.yml down
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
