sl-select::part(combobox) {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--hot-fair-color-gray-border);
}

sl-select::part(display-input) {
  color: var(--hot-fair-color-dark);
  font-size: var(--hot-fair-font-size-body-text-2);
}
