# frontend
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/package-lock*

frontend/.env

# for 
backend/static
backend/api_static
backend/env
backend/temp
backend/postgres-data
backend/**/__pycache__/**
backend/**/migrations/**
backend/media
backend/data/*
backend/log/*
backend/training/*
backend/.env
backend/config.txt
backend/postgres-data
**/.vscode/**