django
# GDAL==3.4.2 # uncomment   with your gdal version
psycopg2
djangorestframework
djangorestframework-gis
django-leaflet
django-rest-swagger
Pillow
django-environ # used for environment 
django-filter
django-cors-headers # used for enabling cors when frontend is hosted on different server / origin 