/*  HOT theme for Shoelace
    Accessed from: https://github.com/hotosm/ui/blob/main/theme/hot-sl.css
    Last accessed:  24/09/2024.
*/


/* HOT theme for Shoelace */

@import '@shoelace-style/shoelace/dist/themes/light.css';

:root,
:host,
.sl-theme-light {

  /*
   * Color primitives
   */

  /* red - red */

  --sl-color-red-950: #a52a28;
  --sl-color-red-900: #b9302d;
  --sl-color-red-800: #c93938;
  --sl-color-red-700: #d73f3f;
  --sl-color-red-600: #e84846;
  --sl-color-red-500: #f75047;
  --sl-color-red-400: #f15f5e;
  --sl-color-red-300: #e67c7e;
  --sl-color-red-200: #efa0a2;
  --sl-color-red-100: #fed1d7;
  --sl-color-red-50: #feecf0;

  /* rose - persian plum */

  --sl-color-rose-950: #6c2020;
  --sl-color-rose-900: #7A3632;
  --sl-color-rose-800: #864740;
  --sl-color-rose-700: #92584F;
  --sl-color-rose-600: #9E6960;
  --sl-color-rose-500: #AB7B71;
  --sl-color-rose-400: #B79086;
  --sl-color-rose-300: #C6A59E;
  --sl-color-rose-200: #D5BDB7;
  --sl-color-rose-100: #E3D5CF;
  --sl-color-rose-50: #F4EFED;

  /* yellow - bright yellow */

  --sl-yellow-950: #FAA71E;
  --sl-yellow-900: #FCB343;
  --sl-yellow-800: #FDBA58;
  --sl-yellow-700: #FDC26D;
  --sl-yellow-600: #FECA7F;
  --sl-yellow-500: #FED293;
  --sl-yellow-400: #FFDAA6;
  --sl-yellow-300: #FFE2BA;
  --sl-yellow-200: #FFEBCF;
  --sl-yellow-100: #FFF3E3;
  --sl-yellow-50: #FFF9F3;

  /* blue - space cadet */

  --sl-blue-950: #20365B;
  --sl-blue-900: #374668;
  --sl-blue-800: #4A5374;
  --sl-blue-700: #5A607E;
  --sl-blue-600: #70718D;
  --sl-blue-500: #82839C;
  --sl-blue-400: #9595AA;
  --sl-blue-300: #ACACBC;
  --sl-blue-200: #C1C1CD;
  --sl-blue-100: #DADADF;
  --sl-blue-50: #F1EFF2;

  /* cyan - cadet blue */

  --sl-blue-950: #259592;
  --sl-blue-900: #49AFAC;
  --sl-blue-800: #57C1BE;
  --sl-blue-700: #7DCFCD;
  --sl-blue-600: #8CD5D3;
  --sl-blue-500: #9DDBD9;
  --sl-blue-400: #B0E2E1;
  --sl-blue-300: #C4EAE9;
  --sl-blue-200: #D5F0EF;
  --sl-blue-100: #E6F6F5;
  --sl-blue-50: #F5FBFB;

  /* cyan - cadet blue */

  --sl-cyan-950: #259592;
  --sl-cyan-900: #49AFAC;
  --sl-cyan-800: #57C1BE;
  --sl-cyan-700: #7DCFCD;
  --sl-cyan-600: #8CD5D3;
  --sl-cyan-500: #9DDBD9;
  --sl-cyan-400: #B0E2E1;
  --sl-cyan-300: #C4EAE9;
  --sl-cyan-200: #D5F0EF;
  --sl-cyan-100: #E6F6F5;
  --sl-cyan-50: #F5FBFB;

  /* gray - dark slate gray */

  --sl-gray-950: #2C3038;
  --sl-gray-900: #404248;
  --sl-gray-800: #515057;
  --sl-gray-700: #615F66;
  --sl-gray-600: #716F73;
  --sl-gray-500: #828085;
  --sl-gray-400: #9A969B;
  --sl-gray-300: #B3B0B3;
  --sl-gray-200: #C4C3C5;
  --sl-gray-100: #E1E0E1;
  --sl-gray-50: #F3F3F3;

  /* neutral - black & white */

  --sl-neutral-1000: #000;
  --sl-neutral-0: #fff;

  /*
   * Color tokens
   */

  --sl-color-primary-950: var(--sl-color-red-950);
  --sl-color-primary-900: var(--sl-color-red-900);
  --sl-color-primary-800: var(--sl-color-red-800);
  --sl-color-primary-700: var(--sl-color-red-700);
  --sl-color-primary-600: var(--sl-color-red-600);
  --sl-color-primary-500: var(--sl-color-red-500);
  --sl-color-primary-400: var(--sl-color-red-400);
  --sl-color-primary-300: var(--sl-color-red-300);
  --sl-color-primary-200: var(--sl-color-red-200);
  --sl-color-primary-100: var(--sl-color-red-100);
  --sl-color-primary-50: var(--sl-color-red-50);

  --sl-color-danger-950: var(--sl-color-rose-950);
  --sl-color-danger-900: var(--sl-color-rose-900);
  --sl-color-danger-800: var(--sl-color-rose-800);
  --sl-color-danger-700: var(--sl-color-rose-700);
  --sl-color-danger-600: var(--sl-color-rose-600);
  --sl-color-danger-500: var(--sl-color-rose-500);
  --sl-color-danger-400: var(--sl-color-rose-400);
  --sl-color-danger-300: var(--sl-color-rose-300);
  --sl-color-danger-200: var(--sl-color-rose-200);
  --sl-color-danger-100: var(--sl-color-rose-100);
  --sl-color-danger-50: var(--sl-color-rose-50);

  --sl-color-neutral-950: var(--sl-color-gray-950);
  --sl-color-neutral-900: var(--sl-color-gray-900);
  --sl-color-neutral-800: var(--sl-color-gray-800);
  --sl-color-neutral-700: var(--sl-color-gray-700);
  --sl-color-neutral-600: var(--sl-color-gray-600);
  --sl-color-neutral-500: var(--sl-color-gray-500);
  --sl-color-neutral-400: var(--sl-color-gray-400);
  --sl-color-neutral-300: var(--sl-color-gray-300);
  --sl-color-neutral-200: var(--sl-color-gray-200);
  --sl-color-neutral-100: var(--sl-color-gray-100);
  --sl-color-neutral-50: var(--sl-color-gray-50);

  --sl-color-success-950: var(--sl-color-cyan-950);
  --sl-color-success-900: var(--sl-color-cyan-900);
  --sl-color-success-800: var(--sl-color-cyan-800);
  --sl-color-success-700: var(--sl-color-cyan-700);
  --sl-color-success-600: var(--sl-color-cyan-600);
  --sl-color-success-500: var(--sl-color-cyan-500);
  --sl-color-success-400: var(--sl-color-cyan-400);
  --sl-color-success-300: var(--sl-color-cyan-300);
  --sl-color-success-200: var(--sl-color-cyan-200);
  --sl-color-success-100: var(--sl-color-cyan-100);
  --sl-color-success-50: var(--sl-color-cyan-50);

  --sl-color-warning-950: var(--sl-color-yellow-950);
  --sl-color-warning-900: var(--sl-color-yellow-900);
  --sl-color-warning-800: var(--sl-color-yellow-800);
  --sl-color-warning-700: var(--sl-color-yellow-700);
  --sl-color-warning-600: var(--sl-color-yellow-600);
  --sl-color-warning-500: var(--sl-color-yellow-500);
  --sl-color-warning-400: var(--sl-color-yellow-400);
  --sl-color-warning-300: var(--sl-color-yellow-300);
  --sl-color-warning-200: var(--sl-color-yellow-200);
  --sl-color-warning-100: var(--sl-color-yellow-100);
  --sl-color-warning-50: var(--sl-color-yellow-50);

  /*
   * Typography
   */

  /* Fonts */
  --sl-font-sans: Archivo, -apple-system, Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --sl-font-sans-variant: 'Barlow Condensed';
  --sl-font-sefif: Georgia, 'Times New Roman', serif;
  --sl-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;


}