@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--sl-font-sans);
  pointer-events: all !important;
}

:root,
:host,
.sl-theme-light {
  font-family: var(--sl-font-sans);
  /* color tokens */

  --hot-fair-color-primary: #d63f40;
  --hot-fair-color-secondary: #ffeded;
  --hot-fair-color-dark: #2c3038;
  --hot-fair-color-gray: #687075;
  --hot-fair-color-light-gray: #e0e4eb;
  --hot-fair-color-off-white: #f0efef;
  --hot-fair-color-white: #fff;
  --hot-fair-color-gray-disabled: #a6a6a6;
  --hot-fair-color-gray-border: #e4e4e4;
  --hot-fair-color-hover-accent: #f5f5f5;
  --hot-fair-color-green-secondary: #ecfce5;
  --hot-fair-color-green-primary: #198155;

  /* Font sizes in rem */
  --hot-fair-font-size-extra-large: 4.25rem;
  /* 68px */
  --hot-fair-font-size-large-title: 3rem;
  /* 48px */
  --hot-fair-font-size-title-1: 2.375rem;
  /* 38px */
  --hot-fair-font-size-title-2: 1.75rem;
  /* 28px */
  --hot-fair-font-size-title-3: 1.5rem;
  /* 24px */
  --hot-fair-font-size-body-text-1: 1.25rem;
  /* 20px */
  --hot-fair-font-size-body-text-2: 1.125rem;
  /* 18px */
  --hot-fair-font-size-body-text-2base: 1rem;
  /* 16px  */
  --hot-fair-font-size-body-text-3: 0.875rem;
  /* 14px */
  --hot-fair-font-size-body-text-4: 0.75rem;
  /* 12px */

  /* Font weights */
  --hot-fair-font-weight-regular: 400;
  --hot-fair-font-weight-medium: 500;
  --hot-fair-font-weight-semibold: 600;
  --hot-fair-font-weight-bold: 700;

  /* Spacing */
  --hot-fair-spacing-extra-large: 5rem;
  /* 80px */
  --hot-fair-spacing-large: 2rem;
  /* 32px */
  --hot-fair-spacing-small: 1rem;
  /* 16px */

  /* Scroll bar styles */
  --scrollbar-width: 6px;
  --scrollbar-track-bg: #f0f0f0;
  --scrollbar-thumb-bg: #ccc;
  --scrollbar-thumb-hover-bg: #bbb;
}

/* Toast stack placement style begins */

/* On Mobile show at the top. */
.sl-toast-stack {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}

/* On Web, show at the bottom. */
@media (min-width: 768px) {
  .sl-toast-stack {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
  }
}

/* Toast stack placement style ends */

/* Overriding the toast design style begins */

sl-alert::part(close-button__base),
sl-alert::part(close-button__base):hover {
  color: var(--hot-fair-color-dark);
  font-size: var(--hot-fair-font-size-title-4);
}

sl-alert::part(base) {
  background-color: var(--hot-fair-color-white);
  font-size: var(--hot-fair-font-size-body-text-2);
  border: 1.5px solid;
}

sl-alert.danger::part(base) {
  color: #721c24;
  border-color: var(--hot-fair-color-primary);
  background-color: #f8d7da;
}

sl-alert.primary::part(base) {
  color: #004085;
  border-color: #7cbcff;
  background-color: #cce5ff;
}

sl-alert.neutral::part(base) {
  color: #383d41;
  border-color: #c4c6ca;
  background-color: #e2e3e5;
}

sl-alert.warning::part(base) {
  color: #856404;
  border-color: #ffdc6e;
  background-color: #fff3cd;
}

sl-alert.success::part(base) {
  color: #155724;
  border-color: #9edaac;
  background-color: #d4edda;
}

/* Overriding the toast design styles ends*/

/* Matomo placement style begins */

.hot-matomo {
  position: fixed;
  z-index: 1000000000000;
  bottom: 0;
  width: 100vw;
}

/* Matomo placement style ends */

/* Tailwind styles begins */

/* Banner content customization starts */
.prose * {
  color: var(--hot-fair-color-white) !important;
  margin: 0px !important;
}
/* Banner content customization ends */

@layer components {
  .icon {
    @apply inline-block h-4 w-4;
  }

  .icon-lg {
    @apply inline-block h-6 w-6;
  }

  .map-icon {
    @apply inline-block h-4 w-4  p-2;
  }
  .fullscreen {
    @apply -mx-small md:-mx-large 2xl:-mx-extra-large;
  }
  .app-padding {
    @apply px-small md:px-large  2xl:px-extra-large;
  }
  .no-fullscreen {
    @apply -mx-0 lg:-mx-0;
  }

  .static-page-layout {
    @apply flex flex-col gap-y-20 md:gap-y-40 mb-48;
  }
  .icon-interaction {
    @apply bg-off-white rounded-lg;
  }
  .map-elements-z-index {
    @apply z-[1];
  }
  .map-elements-padding {
    @apply px-3;
  }
}

/* Tailwind styles ends */

/* General scrollbar styles */

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 5px;
  opacity: 0;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg, #f1f1f1);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg, #888);
  border-radius: 5px;
  overflow: hidden;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg, #555);
}

.scrollable::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scrollable:hover::-webkit-scrollbar-track,
.scrollable:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* General scrollbar ends */

/* Popup customization starts */
.maplibregl-popup-content {
  @apply !rounded-[12px] !flex !flex-col !gap-y-4  !p-0;
}
/* Popup customization  ends */
