.link {
    text-decoration: none;
    color: var(--hot-fair-color-dark);
    font-weight: var(--hot-fair-font-weight-medium);
    text-transform: uppercase;
    font-size: var(--hot-fair-font-size-body-text-2base);
}

/* md: */
@media (min-width:768px) {
    .link {
        font-size: var(--hot-fair-font-size-body-text-2);
    }
}