.link {
  text-decoration: none;
  font-weight: var(--hot-fair-font-weight-medium);
  text-transform: uppercase;
  font-size: var(--hot-fair-font-size-body-text-2base);
  text-wrap: nowrap;
  color: var(--hot-fair-color-dark);
}

/* xl: */
@media (min-width: 1280px) {
  .link {
    font-size: var(--hot-fair-font-size-body-text-2);
  }
}
