/* Remove padding from the dialog body if .no-padding is present on the dialog */
.sl-dialog.no-padding::part(body) {
  padding: 0 !important;
}
sl-dialog::part(title) {
  font-size: var(--hot-fair-font-size-title-4);
  font-weight: var(--hot-fair-font-weight-semibold);
}

sl-dialog.rounded::part(panel) {
  border-radius: 20px;
}

sl-dialog.primary::part(title) {
  color: var(--hot-fair-color-primary);
}

@media (min-width: 768px) {
  sl-dialog::part(title) {
    font-size: var(--hot-fair-font-size-title-3);
  }
}
