sl-dialog::part(title) {
  font-size: var(--hot-fair-font-size-title-3);
  font-weight: var(--hot-fair-font-weight-semibold);
}

sl-dialog.primary::part(title) {
  color: var(--hot-fair-color-primary);
}
