.container {
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
  background-image: url("../../../assets/svgs/contour_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hot-fair-color-primary);
  overflow: hidden;
  position: relative;
  min-height: 439px;
}

.container .cta {
  padding: 40px var(--sl-spacing-large);
  width: 100%;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.ctaContent {
  padding: var(--sl-spacing-large) 0;
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
  justify-content: start;
  height: 100%;
  width: 100%;
}

.ctaButtonContainer {
  max-width: 213px;
  width: 70%;
  padding-top: var(--sl-spacing-medium);
}

.container .cta h1 {
  font-size: var(--hot-fair-font-size-title-2);
  font-weight: var(--hot-fair-font-weight-semibold);
  color: white;
  line-height: 1.2;
}

.container .cta p {
  font-size: var(--hot-fair-font-size-body-text-2base);
  font-weight: var(--hot-fair-font-weight-regular);
  color: var(--hot-fair-color-secondary);
  line-height: 1.5;
  max-width: 420px;
}

.imageBlock {
  width: 300px;
  position: absolute;
  right: -180px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: visible;
  pointer-events: none;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* md: */
@media (min-width: 768px) {
  .container {
    padding: 0 var(--hot-fair-spacing-extra-large);
    min-height: 320px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--hot-fair-spacing-extra-large);
  }

  .ctaContent {
    justify-content: center;
  }

  .container .cta {
    padding: 40px 0;
    color: var(--hot-fair-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;
  }

  .container .cta h1 {
    font-size: var(--hot-fair-font-size-title-3);
  }

  .imageBlock {
    position: relative;
    width: 50%;
    right: 0;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: unset;
  }

  .image {
    height: auto;
    object-fit: contain;
    max-width: 460px;
  }
}

/* lg: */
@media (min-width: 1024px) {
  .container {
    min-height: 340px;
  }

  .ctaContent {
    width: 90%;
  }

  .container .cta h1 {
    font-size: var(--hot-fair-font-size-large-title);
  }

  .container .cta p {
    font-size: var(--hot-fair-font-size-body-text-2);
  }

  .image {
    max-width: 500px;
  }
}
