/*  
    Customizing the menu item for the logout button in the user profile dropdown. 
    The 'logoutButton' class is passed from the userprofile component.
*/


sl-menu-item::part(base) {
  color: var(--hot-fair-color-dark);
  background-color: var(--hot-fair-color-white);
}

sl-menu-item::part(base):hover {
  background-color: var(--hot-fair-color-hover-accent);
}

sl-menu-item.logoutButton::part(base) {
  color: var(--hot-fair-color-primary);
}


sl-menu-item.small::part(base) {
  font-size: var(--hot-fair-font-size-body-text-3);
}


/* Checkbox customization */

sl-checkbox::part(control) {
  background-color: white;
  color: var(--hot-fair-color-dark);
  border: 2px solid var(--hot-fair-color-dark);
  border-radius: 3px;
}


sl-checkbox::part(checked-icon) {
  background-color: var(--hot-fair-color-dark);
  width: 6px;
  height: 6px;
}