.aboutfAIrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px var(--sl-spacing-large);
  justify-content: center;
  gap: var(--sl-spacing-3x-large);
  color: var(--hot-fair-color-dark);
}

.featureContent {
  flex-basis: 50%;
}

.heading {
  font-size: var(--hot-fair-font-size-title-3);
  font-weight: var(--hot-fair-font-weight-semibold);
  background-color: var(--hot-fair-color-primary);
  color: var(--hot-fair-color-white);
  display: inline-block;
  padding: var(--sl-spacing-x-small) var(--sl-spacing-medium);
}

.paragraph {
  margin-left: var(--sl-spacing-large);
  padding: var(--sl-spacing-3x-large) var(--sl-spacing-2x-large);
  font-size: var(--hot-fair-font-size-body-text-3);
  background-color: var(--hot-fair-color-off-white);
  font-weight: var(--hot-fair-font-weight-regular);
}

.imageContainer {
  width: 100%;
  max-width: 560px;
  margin-right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  padding: var(--sl-spacing-medium);
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* md: */
@media (min-width: 768px) {
  .aboutfAIrContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .paragraph {
    font-size: var(--hot-fair-font-size-body-text-2);
  }

  .heading {
    font-size: var(--hot-fair-font-size-title-1);
  }
}

/* lg: */
@media (min-width: 1024px) {
  .featureContent {
    flex: 1 1 48%;
  }
  .aboutfAIrContainer {
    padding: 100px var(--hot-fair-spacing-extra-large);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .paragraph {
    margin-left: var(--sl-spacing-3x-large);
  }

  .imageContainer {
    flex: 1 1 52%;
    max-width: 650px;
  }
}
