/* NavBar styles start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sl-spacing-medium);
}

.navLinkItem:hover,
.activeLink {
  border-bottom: 2px solid var(--hot-fair-color-primary);
}

.webNavLinks {
  display: none;
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: var(--sl-spacing-medium);
  font-size: var(--hot-fair-font-size-body-text-3);
  gap: var(--sl-spacing-medium);
  padding: 0 var(--body-spacing);
}
.mobileNavLinks .link {
  text-transform: capitalize;
}

.loginButton {
  display: none;
}

.hamburgerMenu {
  display: block;
}

/* Mobile Nav */

.navDrawer::part(panel) {
  height: auto;
}

.navDrawer::part(body) {
  padding: 0;
}

.drawerContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-large);
}

.drawerHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--body-spacing);
}

.navLinksContainer {
  display: flex;
  flex-direction: column;
}

.loginButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hankoMobileBar {
  display: flex;
  align-items: center;
}

.closeButton {
  font-size: var(--hot-fair-font-size-title-3);
}

.profileList {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--sl-spacing-medium);
  font-weight: var(--sl-spacing-medium);
  font-size: var(--hot-fair-font-size-body-text-3);
  padding: 0 var(--body-spacing);
}

.profileListItem {
  cursor: pointer;
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  text-transform: inherit;
  color: var(--hot-fair-color-primary);
}

/* NavBar styles ends */

/* Profile styles starts */

.profileContainer {
  display: none;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  cursor: pointer;
}

.userProfileName {
  font-size: var(--hot-fair-font-size-body-text-2);
  color: var(--hot-fair-color-dark);
  text-wrap: nowrap;
}

/* Profile styles ends */

/* md: */
@media (min-width: 768px) {
  .userProfileName {
    text-wrap: wrap;
  }

  .navLinkItem:hover,
  .activeLink {
    border-bottom: 2px solid var(--hot-fair-color-primary);
  }
}

/* mdx: */
@media (min-width: 960px) {
  /* NavBar styles start */
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap: var(--sl-spacing-medium);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .webNavLinks {
    display: flex;
    gap: var(--sl-spacing-medium);
  }

  .loginButton {
    display: flex;
  }

  .hamburgerMenu {
    display: none;
  }

  .profileContainer {
    @apply flex items-center gap-x-3;
  }

  /* NavBar styles ends */
}

/* xl: */
@media (min-width: 1280px) {
  /* NavBar styles start */

  .webNavLinks {
    display: flex;
    gap: var(--sl-spacing-2x-large);
  }

  /* NavBar styles ends */
}
