body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-interactive
{
  margin-left: -5px !important;
  margin-top: -5px !important;
  width : 10px  !important;
  height : 10px  !important;
  border-radius: 5px !important;
  /* opacity: 0.5 !important; */
}


.MuiAppBar-root {
  background-color: #FFFFFF !important;
  
}

.MuiAppBar-root:hover {
  background-color: #F2F2F2 !important;
}

.MuiIcon-root
{
  height: 2em !important;
  width: 3em !important;
}

.MuiIcon-root2
{
  height: 2em !important;
  width: 2em !important;
}

.MuiTypography-root
{
  color: #2c3038 !important;
}

.MuiButtonBase-root
{
  background-color: #D73434 !important;
  font-weight: bold !important;
}

.MuiButtonBase-root:hover
{
  background-color: #cccccc !important;
}

.MuiButtonBase-root:disabled
{
  background-color: #cccccc !important;
  color: white !important;
}

.MuiMenuItem-root
{
  background-color: transparent !important;
  
}

.MuiMenuItem-root:hover
{
  background-color: #cccccc !important;
}


.feedback-button {
  background-color: #f44336; 
  margin-top: 2px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 1.0em;
}

.feedback-button:last-child {
  background-color: #4caf50;
  margin-left:2px;
}



.logo:hover 
{
  cursor: pointer;
  border: #cccccc 1px solid;
    border-radius: 6px;
}

.footer , .footer a
{
  height: auto;
  background-color: #2c3038;
  color: white;
}

.mb1
{
  margin-bottom: 0.25rem;
}
.MuiListItemAvatar-root {
  min-width: 32px  !important;
}


.MuiListItem-secondaryAction .MuiListItemAvatar-root .MuiSvgIcon-root{
  font-size: 1rem !important;
}

.MuiSvgIcon-root
{
  color: white;
}

.osm-logo-small
{
  height: 20px;
  width: 20px;
}

.editor-logo-small
{
  height: 20px;
  width: 30px;
}

.transparent
{
  background-color: transparent !important;
}

.leaflet-tile-container img, .leaflet-pane.leaflet-tile-pane img,  div.leaflet-pane.leaflet-tile-pane img 
{
  padding: 1px;
}

.card
{
  border: 2px solid ;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #cdcdcd;
  margin-bottom: 5px;
  padding: 10px 5px;
}

.margin-left-12
{
  margin-left: 12px !important;
}

.margin-left-13
{
  margin-left: 13px !important;
}

.leaflet-interactive {
  width: 30px !important;
  height: 30px !important;
}

.MuiDialog-paper
{
  max-width: 80% !important;
}

.leaflet-draw.leaflet-control > div:nth-child(2)
{
  display: none;
}