body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-interactive
{
  margin-left: -5px !important;
  margin-top: -5px !important;
  width : 10px  !important;
  height : 10px  !important;
  border-radius: 5px !important;
  opacity: 0.5 !important;
}


.MuiAppBar-root {
  background-color: #FFFFFF !important;
  
}

.MuiAppBar-root:hover {
  background-color: #F2F2F2 !important;
}

.MuiIcon-root
{
  height: 2em !important;
  width: 3em !important;
}

.MuiIcon-root2
{
  height: 2em !important;
  width: 2em !important;
}

.MuiTypography-root
{
  color: #2c3038 !important;
}

.MuiButtonBase-root
{
  background-color: #D73434 !important;
  font-weight: bold !important;
}

.MuiButtonBase-root:hover
{
  background-color: #cccccc !important;
}

.MuiButtonBase-root:disabled
{
  background-color: #cccccc !important;
  color: white !important;
}

.MuiMenuItem-root
{
  background-color: transparent !important;
  
}

.MuiMenuItem-root:hover
{
  background-color: #cccccc !important;
}


.logo:hover 
{
  cursor: pointer;
  border: #cccccc 1px solid;
    border-radius: 6px;
}

.footer , .footer a
{
  height: auto;
  background-color: #2c3038;
  color: white;
}

.mb1
{
  margin-bottom: 0.25rem;
}