.kpi {
    background-color: var(--hot-fair-color-off-white);
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;


}

.kpiItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kpiItem h1 {
    text-transform: uppercase;
    color: var(--hot-fair-color-primary);
    font-size: var(--hot-fair-font-size-title-1);
    font-weight: var(--hot-fair-font-weight-semibold);
    font-family: var(--hot-fair-font-family-archivo-condensed);
}

.kpiItem h3 {
    color: var(--hot-fair-color-dark);
    font-size: var(--hot-fair-font-size-body-text-2);
    font-weight: var(--hot-fair-font-weight-semibold);
    font-family: var(--sl-font-sans);
}